# NODE config
PORT = 5600

POSTGRES_NAME =postgres
POSTGRES_USER =postgres
POSTGRES_PASSWORD =password
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432

SHA_512_HASH = secretkeyforhash

JWT_SECRET_KEY = thisismysecretkey